body {
  padding-top: 20px;
}

.carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  gap: 20px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box .card {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box .card {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
@media (min-width: 992px) {
  .slide-box .card {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-control-next {
  right: 0;
}
@media (min-width: 576px) {
  .carousel-control-next {
    right: -70px;
  }
}
@media (min-width: 992px) {
  .carousel-control-next {
    right: -100px;
  }
}

.carousel-control-prev {
  left: 0;
}
@media (min-width: 576px) {
  .carousel-control-prev {
    left: -70px;
  }
}
@media (min-width: 992px) {
  .carousel-control-prev {
    left: -100px;
  }
}

.card-img-top {
  max-height: 340px;
  object-fit: cover;
}
